Dependencies

In [65]:
import pandas as pd
from sqlalchemy import create_engine

Store CSV File into DataFrame

In [66]:
arrests_df = pd.read_csv("ArrestIncidents.csv")
arrests_df.head()

,DATE,TEAM,NAME,POSITION,CASE,CATEGORY,DESCRIPTION,OUTCOME
0,3/27/17,SEA,Trevone Boykin,QB,Arrested,Drugs,"Accused of marijuana possession, public intoxi...",Resolution undetermined.
1,3/26/17,CHI,Deiondre Hall,CB,Arrested,Disorderly conduct,"Accused of disorderly conduct, public intoxica...",Resolution undetermined.
2,3/26/17,GB,Makinton Dorleant,CB,Arrested,Police interference,Accused of interfence after scuffle outside of...,Resolution undetermined.
3,3/7/17,KC,Demetrius Harris,TE,Arrested,Drugs,Suspected of felony marijuana possession as pa...,Resolution undetermined.
4,3/5/17,LAR,Ethan Westbrooks,DT,Arrested,Domestic violence,Suspected of domestic violence in Sacramento a...,Resolution undetermined.

Create new data with select columns

In [67]:
new_arrests_df = arrests_df[["NAME", 'POSITION', 'DATE','CASE']].copy()
new_arrests_df.head()

                NAME POSITION     DATE      CASE
0     Trevone Boykin       QB  3/27/17  Arrested
1      Deiondre Hall       CB  3/26/17  Arrested
2  Makinton Dorleant       CB  3/26/17  Arrested
3   Demetrius Harris       TE   3/7/17  Arrested
4   Ethan Westbrooks       DT   3/5/17  Arrested

In [68]:
only_qbs_df = new_arrests_df.loc[new_arrests_df["POSITION"] == "QB", :]
only_qbs_df

                 NAME POSITION      DATE         CASE
0      Trevone Boykin       QB   3/27/17     Arrested
36     Johnny Manziel       QB   1/30/16     Indicted
161       Josh Portis       QB    5/5/13     Arrested
249       Rhett Bomar       QB    8/7/11     Arrested
308       Chris Simms       QB    7/1/10     Arrested
312       Vince Young       QB   6/13/10        Cited
465   Darrell Hackney       QB   12/1/07     Arrested
480      Michael Vick       QB   7/17/07     Indicted
497      Steve McNair       QB    5/9/07     Arrested
514      Michael Vick       QB   2/27/07        Cited
578      Jake Plummer       QB   4/20/06      Charged
597  Daunte Culpepper       QB  12/15/05      Charged
650       Matt Schaub       QB   11/6/04  Surrendered
678      Jason Gesser       QB   2/15/04     Arrested
680       Jeff Garcia       QB   1/14/04     Arrested
710      Steve McNair       QB   5/22/03     Arrested
809       Akili Smith       QB    2/8/01     Arrested
813      Brian Griese       QB  10/28/00     Arrested

In [69]:
only_qbs_df = only_qbs_df.drop(["POSITION"], axis = 1)
only_qbs_df

                 NAME      DATE         CASE
0      Trevone Boykin   3/27/17     Arrested
36     Johnny Manziel   1/30/16     Indicted
161       Josh Portis    5/5/13     Arrested
249       Rhett Bomar    8/7/11     Arrested
308       Chris Simms    7/1/10     Arrested
312       Vince Young   6/13/10        Cited
465   Darrell Hackney   12/1/07     Arrested
480      Michael Vick   7/17/07     Indicted
497      Steve McNair    5/9/07     Arrested
514      Michael Vick   2/27/07        Cited
578      Jake Plummer   4/20/06      Charged
597  Daunte Culpepper  12/15/05      Charged
650       Matt Schaub   11/6/04  Surrendered
678      Jason Gesser   2/15/04     Arrested
680       Jeff Garcia   1/14/04     Arrested
710      Steve McNair   5/22/03     Arrested
809       Akili Smith    2/8/01     Arrested
813      Brian Griese  10/28/00     Arrested

In [70]:
only_qbs_df.rename(columns={'NAME':'qb_name',
                          'DATE':'instance_date',
                          'CASE':'case'}, 
                 inplace=True)
only_qbs_df

              qb_name instance_date         case
0      Trevone Boykin       3/27/17     Arrested
36     Johnny Manziel       1/30/16     Indicted
161       Josh Portis        5/5/13     Arrested
249       Rhett Bomar        8/7/11     Arrested
308       Chris Simms        7/1/10     Arrested
312       Vince Young       6/13/10        Cited
465   Darrell Hackney       12/1/07     Arrested
480      Michael Vick       7/17/07     Indicted
497      Steve McNair        5/9/07     Arrested
514      Michael Vick       2/27/07        Cited
578      Jake Plummer       4/20/06      Charged
597  Daunte Culpepper      12/15/05      Charged
650       Matt Schaub       11/6/04  Surrendered
678      Jason Gesser       2/15/04     Arrested
680       Jeff Garcia       1/14/04     Arrested
710      Steve McNair       5/22/03     Arrested
809       Akili Smith        2/8/01     Arrested
813      Brian Griese      10/28/00     Arrested

Connect to local Database

In [73]:
connection_string = "postgres:saltpepper@localhost:5432/ETL Project"
engine = create_engine(f'postgresql://{connection_string}')

Check for tables

In [75]:
engine.table_names()

[]